<div class="container-home">
  <h1>Movida-19</h1>
  <h3>Help others and get help yourself</h3>
  <h4>Let's come together while staying apart</h4>

  <% if user_signed_in? %>
    <%= link_to "See nearby posts", posts_path, class: "button-home button-primary" %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</div>
