<h1>Movida-19</h1>
<h4>Help others and get help</h4>

<% if user_signed_in? %>
  <%= link_to "See nearby posts", posts_path %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>

<h3>Let's come together while staying apart</h3>
