<div class="container-home">
  <h1>Movida-19</h1>
  <h3>Help others; find help yourself</h3>
  <h4>Let's come together while staying apart</h4>

  <% if user_signed_in? %>
    <div class="buttons">
      <%= link_to "See nearby posts", posts_path, class: "button-home button-primary" %>
      <%= link_to "Create post", new_post_path, class: "button-home button-second" %>
    </div>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "button-home button-primary" %>
  <% end %>
</div>
