.button-primary {
  color: white;
  background-color: $main;
  border-radius: 4px;
  border-width: 0px;
  opacity: 0.8;
  margin-bottom: 16px;
}

.button-primary:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.button-second {
  border: 1px solid $main;
  border-radius: 4px;
  margin: 8px auto;
}

.button-second:hover {
  color: white;
  background-color: $main;
  text-decoration: none;
}

.button-home {
  padding: 16px 24px;
}

.button-home.button-primary {
  margin-top: 48px;
}

.button-home.button-second {
  margin-top: 24px;
}

.button {
  padding: 4px 8px;
}
