h1, h4 {
  font-family: Sen, "Serif";
  font-weight: bold;
}

strong, a:hover {
  color: $main;
}

a:hover {
  text-decoration: none;
}

.small-text {
  font-size: 0.9em;
  opacity: 0.8;
  margin-bottom: 8px;
}

.text-right {
  text-align: right;
}

